---
const certificates = [
    {
        name: "AWS Generative AI Applications",
        company: "Amazon Web Services (AWS) - Coursera.org",
        companyIcon: "/svgs/aws.svg",
        link: "https://coursera.org/verify/professional-cert/597CPC8J83XC",
        description: [
            "Kenntnisse in KI-Grundlagen und AWS-Services, inkl. verantwortungsbewusster KI-Praktiken und Modellwahl für Business-Anwendungen",
            "Erfahrung in Prompt Engineering und praktischer App-Entwicklung mit Amazon Bedrock, PartyRock & weiteren AWS-Tools",
            "Architektur & Design von KI-Lösungen auf AWS unter Berücksichtigung von Datenmanagement, Sicherheit und Kostenoptimierung",
            "Umsetzung von Business-Ideen zu KI-Anwendungen – von Proof-of-Concept bis zu skalierbaren Lösungen mit AWS",
        ]
    },
    {
        name: "AWS Cloud Technical Essentials",
        company: "Amazon Web Services (AWS) - Coursera.org",
        companyIcon: "/svgs/aws.svg",
        link: "https://coursera.org/verify/XSXS7ZC0JKG6",
        description: [
            "Fundiertes Verständnis von AWS-Konzepten und zentraler Terminologie zu Cloud-Services",
            "Kenntnisse zu AWS-Sicherheitsmaßnahmen und Identity and Access Management (IAM) für sichere Architekturen",
            "Unterscheiden und Anwenden von AWS-Compute-Services wie Amazon EC2, AWS Lambda und Amazon ECS je nach Anwendungsfall",
            "Verständnis und Einsatz von AWS-Datenbank- und Speicherlösungen wie Amazon RDS, Amazon DynamoDB und Amazon S3",
        ]
    },
    {
        name: "Google Cloud Fundamentals: Core Infrastructure",
        company: "Google Cloud Training - Coursera.org",
        companyIcon: "/svgs/google-cloud.svg",
        link: "https://coursera.org/verify/RUSRS1AGX3DZ",
        description: [
            "Verständnis für Zweck und Mehrwert von Google-Cloud-Produkten und -Services",
            "Kenntnisse zur Struktur und Verwaltung von Infrastruktur in Google Cloud",
            "Erstellung einer grundlegenden Infrastruktur in Google Cloud",
            "Auswahl und Einsatz passender Google-Cloud-Speicheroptionen",
        ]
    },
    {
        name: "Cisco Certified Network Associate (CCNAv7)",
        company: "Cisco",
        companyIcon: "/svgs/cisco.svg",
        link: "platzhalter_cdn",
        description: [
            "Grundlagen der Netzwerktechnik mit Cisco-Hardware",
            "OSI/TCP-IP-Modelle, IPv4/IPv6-Adressierung, VLANs, Routing, Switch-Konfiguration und Netzwerksicherheit",
            "Praxisorientierte Planung, Implementierung und Fehlerbehebung kleiner bis mittelgroßer Netzwerke",
        ]
    }
]
---
<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 48px 172px;

        img {
            height: 32px;
            width: 32px;
        }
    }

    #certificates-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .wrapper {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .certificate-wrapper,
    .scrum-certificate {
        flex: 1;
        min-height: 400px;
        width: 400px;
        background-color: #16232c;
        border: 1px solid #172c33;
        border-radius: 10px;
        padding: 32px;
    }

    .certificate-wrapper {
        flex: 0 0 calc((100% - 40px) / 3);
        box-sizing: border-box;
    }

    .scrum-certificate {
        display: flex;
        min-height: auto;

        @media (max-width: 768px) {
            flex-wrap: wrap-reverse;
        }
    }

    a,
    p.certificate-name {
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    a:visited {
        color: inherit;
    }

    a:hover,
    .certificate-name:hover {
        color: #efefef;
        scale: 102%;
    }

    a:active {
        color: inherit;
    }

    ul {
        margin-top: 24px;
    }

    li {
        display: flex;
        gap: 8px;
        padding: 8px 0;
    }

    .certificate-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .certificate-description {
        line-height: normal;
    }

    span.company-name,
    .certificate-date {
        color: #0a66c2;
    }

    .scrum-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        img {
            height: 108px;
            width: 108px;
        }
    }
</style>

<h1>Meine Zertifikate</h1>
<div id="certificates" class="container">
    <div id="certificates-container">
        {certificates.map(certificate =>
                <div class="certificate-wrapper">
                    <div class="wrapper">
                        <div class="certificate-header">
                            <a href={certificate.link} target="_blank">
                                {certificate.name}
                            </a>
                            <a href={certificate.link} target="_blank">
                                <img src=`${certificate.companyIcon}` alt=`Logo von ${certificate.company}`>
                            </a>
                        </div>
                        <span class="company-name">
                    {certificate.company}
                </span>
                    </div>
                    <ul>
                        {certificate.description.map(listItem =>
                                <li>
                                    <span style="color: #f2675a">-</span>
                                    <span class="certificate-description">{listItem}</span>
                                </li>
                        )}
                    </ul>
                </div>
        )}
    </div>
    <div class="scrum-container">
        <div class="scrum-certificate">
            <div class="wrapper">
                <a class="certificate-name" href="#" target="_blank">Professional Scrum Master I (PSM I)</a>
                <p class="certificate-date">seit 08/2025 - Scrum.org</p>
                <p>
                    Anwenden von Scrum-Prinzipien, Rollen, Events und Artefakten, um selbstorganisierte und effiziente Teams zu fördern
                </p>
            </div>
            <img src="/psm1.png" alt="Professional Scrum Master 1 Zertifikat">
        </div>
        <div class="scrum-certificate">
            <div class="wrapper">
                <a class="certificate-name" href="#" target="_blank">Professional Scrum Product Owner I (PSPO I)</a>
                <p class="certificate-date">seit 08/2025 - Scrum.org</p>
                <p>
                    Entwickeln einer klaren Produktvision, Maximieren des Produktwerts und effektives Einbinden von Stakeholdern im agilen Umfeld
                </p>
            </div>
            <img src="/pspo1.png" alt="Professional Scrum Product Owner 1 Zertifikat"></img>
        </div>
    </div>
</div>